@if (!connected()) {
  <p class="empty">{{ t('favorites.connectFirst') }}</p>
} @else if (!hasProfile()) {
  <p class="empty">{{ t('favorites.noProfile') }}
  </p>
} @else {
  <div class="head">
    <button
      type="button"
      class="add"
      [disabled]="currentIsSaved()"
      [title]="currentIsSaved() ? 'Ce dossier est déjà dans tes favoris' : 'Ajouter le dossier affiché'"
      (click)="addCurrent()"
    >
      <app-icon name="plus" [size]="13" />
      {{ t('favorites.addCurrent') }}
    </button>
  </div>

  <ul class="list">
    @for (favorite of favorites(); track favorite.path) {
      <li class="row">
        <button type="button" class="fav" [title]="favorite.path" (click)="go(favorite)" (contextmenu)="openMenu($event, favorite)">
          <app-icon class="fav__icon" [name]="iconOf(favorite)" [size]="14" />
          <span class="fav__label">{{ favorite.label }}</span>
          <span class="fav__path">{{ favorite.path }}</span>
        </button>
        <button type="button" class="row__edit" [attr.aria-label]="t('misc.a11y.editFavorite')" [title]="t('misc.a11y.edit')" (click)="edit(favorite)">
          <app-icon name="pencil" [size]="12" />
        </button>
      </li>
    } @empty {
      <li class="empty">{{ t('favorites.empty') }}
  </li>
    }
  </ul>
}
