@if (open()) {
  <div class="drawer__scrim" (click)="open.set(false)"></div>
}

<div
  class="drawer"
  [class.drawer--dragging]="dragOffset() !== null"
  [class.drawer--visible]="open() || dragOffset() !== null"
  [style.width.px]="width()"
  [style.transform]="'translateX(' + translate() + 'px)'"
>
  <div class="drawer__content">
    <ng-content />
  </div>

  <button
    type="button"
    class="drawer__handle"
    [attr.aria-expanded]="open()"
    [attr.aria-label]="label()"
    [title]="label()"
    (click)="onClick()"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp($event)"
    (pointercancel)="onPointerUp($event)"
  >
    <span class="drawer__grip"></span>
  </button>
</div>
