<div class="tabs" role="tablist" [class.tabs--stretch]="stretch()">
  <span
    class="tabs__indicator"
    aria-hidden="true"
    #indicator
    [class.tabs__indicator--animated]="indicatorReady()"
    [class.tabs__indicator--flush-left]="activeIsFirst()"
    [class.tabs__indicator--flush-right]="stretch() && activeIsLast()"
  ></span>

  @for (tab of tabs(); track tab.id) {
    <button
      type="button"
      class="tabs__tab"
      role="tab"
      #tabBtn
      [class.tabs__tab--active]="active() === tab.id"
      [attr.aria-selected]="active() === tab.id"
      (click)="active.set(tab.id)"
    >
      @if (tab.icon; as icon) {
        <app-icon [name]="icon" [size]="14" />
      }
      {{ tab.label }}
    </button>
  }
</div>

<div
  class="tabs__panel"
  role="tabpanel"
  [class.tabs__panel--flush-left]="activeIsFirst()"
  [class.tabs__panel--flush-right]="stretch() && activeIsLast()"
>
  <div class="tabs__content" #content>
    <ng-content />
  </div>
</div>
